@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

/* ...existing styles... */

@font-face {
  font-family: "europa";
  src: url("../assets/fonts/Fontspring-DEMO-the_erupha.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "europa_italic";
  src: url("../assets/fonts/Fontspring-DEMO-the_erupha_italic_scale.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "europa_scale";
  src: url("../assets/fonts/Fontspring-DEMO-the_erupha_scale.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

.font-europa {
  font-family: "europa";
}
.font-europa-italic {
  font-family: "europa_italic";
}
.font-europa-scale {
  font-family: "europa_scale";
}

.font-geist {
  font-family: "Geist", serif;
}
.font-geist-mono {
  font-family: "Geist Mono", serif;
}

/* main styling start from here */

body {
  font-family: "Geist Variable", sans-serif;
  font-weight: 500;
  margin: 0;
  overflow-x: hidden;
}
